.CFUserTextEncoding
.DS_Store
.activator/
.android/
.conscript/
.cups/
.eclipse/
.erlang.cookie
.git-completion.bash
.gitconfig
.gradle/
.ideaLibSources/
.ivy2/
.jmc/
.lesshst
.m2/
.mysql_history
.nbprofiler/
.octave_hist
.octave_packages
.pearrc
.php_history
.sbt/
.scala_history
.ssh/
.subversion/
.zinc/
Applications/
Desktop/
Documents/
Downloads/
Google
IdeaProjects/
Library/
Movies/
Music/
NetBeansProjects/
Pictures/
Public/
Sites/
SoapUI-Tutorials/
WebstormProjects/
dedup/
default-soapui-workspace.xml
echotrash/
emailWSAPI.yaml
git/
hashgen.sh
intellij-soapui-workspace.xml
keystore.ks
log/
marco.tgz
octave/
play/
soapui-settings.xml
strongview.php
sv4r25s51:
test/
test1.wsdl
test1/
Google Drive
.bash_history
.*swp
.bash_profile-anaconda.bak
.cpan
.graphlab
.htoprc
.ipython/
.loadui
.matplotlib
.pip
.swt
emailtypes.txt
*.tgz
perl5/
tempLoadUI/
.viminfo
.viminfo
.idea*
.Trash
.composer
.ncftp
.rediscli_history
Calibre Library
.java.policy
.ssh*
bindy
*fish_history
